#main {
	padding-top: 0;
}
header figure.post-thumbnail {
	display: grid; 
	grid-template-columns: 1fr; 
	grid-template-rows: 1fr auto; 
	gap: 0px 0px; 
	grid-template-areas: 
	"image"
    "caption"; 
}

header figure.post-thumbnail img {
	grid-area: 1 / 1 / 3 / 2;
	height: 100%!important;
}

header figure.post-thumbnail figcaption {
	grid-area: caption;
	background-color: var(--color-dlw-overlay);
	padding-top: 38px;
	padding-bottom: 45px;
}
header figure.post-thumbnail figcaption p {
	color: var(--color-dlw-text-white);
	font-size: 1rem;
	line-height: 120%;
	max-width: var(--width-max-width);
	margin-left: auto;
	margin-right: auto;
}

main#main div.entry-content {
	margin-top: 0px;
}

#main .post-info {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr; 
	gap: 0px 0px; 
	grid-template-areas:
		"date author";
	margin-top: 38px;
}

.post-info span:first-child {
	grid-area: date;
}

.post-info span:nth-child(even) {
	grid-area: author;
}


main#main div.entry-content > form.search-form.search-start[role="search"] {
	max-width: 500px;
	display: grid;
	grid-template-columns: 1fr 86px; 
	grid-template-rows: 1fr; 
	gap: 0px 0px;
	grid-template-areas: 
    "field submit";
	height: 68px;
	margin-top: 100px;
	margin-bottom: 100px;
	position: relative;
}

main#main div.entry-content > form.search-form.search-start[role="search"] label {
	display: none;
}

form.search-form.search-start[role="search"] .search-field {
	grid-area: field;
	margin: 0 0 0 0;
	border: 3px solid var(--color-dlw-red);
}

form.search-form.search-start[role="search"] .search-submit {
	display: block;
	grid-area: submit;
	margin: 0 0 0 0px;
	background-color: transparent;
	color: var(--color-dlw-text-white);
	font-family: var(--font-header);
	font-size: 1.2rem;
	border: 0px solid var(--color-dlw-red);
	width: 86px;
	height: 68px;
	z-index: 2;
}

form.search-form.search-start[role="search"] .search-submit:hover {
	border: 0px solid var(--color-dlw-red);
	color: var(--color-dlw-text-white);
}

.search-wrap {
	position: relative;
	margin: 0;
	padding: 0;
}

main#main div.entry-content > form.search-form.search-start[role="search"]:after{
	background-color: var(--color-dlw-red);
	position: absolute;
	content: "\e8b6";
	font-family: 'Material Icons';
	font-size: 3rem;
	color: var(--color-dlw-text-white);
	padding: 0 19px 0 19px;
	line-height: 68px;
	right: 0;
	background-color: var(--color-dlw-red);
}


main#main div.entry-content > .wp-block-query {
	max-width: 1444px;
	width: calc(100% - 2rem);
}

main#main div.wp-block-query > ul.is-flex-container {
	justify-content: center;
}

main#main div.wp-block-query > ul.is-flex-container > li {
	width: 435px;
	display: grid;
	grid-template-columns: 1fr ; 
	grid-template-rows: 244px 88px 96px;
	gap: 0px 0px;
	grid-template-areas: 
    "image"
    "header"
    "text";
	height: 428px;
	margin-right: 4rem;
	margin-bottom: 4rem;
}

.wp-block-query ul.is-flex-container li .wp-block-post-featured-image {
	grid-area: image;
	margin: 0 0 0 0;
	position: relative;
	overflow: hidden;
	height: 244px;
}

.wp-block-query ul.is-flex-container li .wp-block-post-featured-image img.blog-overlay {
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	transform: translateX(-139%);
}

.wp-block-query ul.is-flex-container li:hover .wp-block-post-featured-image img.blog-overlay {
	transform: translateX(-50%);
}

.wp-block-query ul.is-flex-container li .wp-block-post-featured-image a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.wp-block-query ul.is-flex-container li .wp-block-post-featured-image img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	height: auto !important;
	width: 100% !important;
}


.wp-block-query > ul.is-flex-container > li > h2.wp-block-post-title {
	margin: 0 0 0 0;
	grid-area: header;
	padding: 11px 11px;
	height: 88px;
	overflow: hidden;
}

.wp-block-query ul.is-flex-container li .wp-block-post-title a {
	display: block;
	margin: 0 0 0 0;
	font-family: var(--font-header);
	font-weight: bold;
	font-size: 1.37rem;
	line-height: 1.5rem;
	height: 3rem;
	color: var(--color-dlw-red);
	overflow: hidden;
}

.wp-block-query ul.is-flex-container li .wp-block-post-excerpt {
	margin: 0 0 0 0;
	grid-area: text;
	color: var(--color-dlw-text-black);
	padding: 0px 11px;
}
.wp-block-query ul.is-flex-container li .wp-block-post-excerpt p {
	height: 96px;
	line-height: 24px;
	overflow: hidden;
}

.navigation .nav-links a p {
	position: relative;
	color: var(--color-dlw-red);
	font-size: 1.57rem;
}

.navigation .nav-links a p:before {
	position: absolute;
	font-family: 'Material Icons';
	color: var(--color-dlw-red);
	font-size: 2rem;
	line-height: 2.7rem;
}

.navigation .nav-links .nav-previous a p {
	padding-left: 20px;
}
.navigation .nav-links .nav-next a p {
	padding-right: 30px;
}

.navigation .nav-links .nav-previous a p:before {
	content:"\e5e0";
	left: 0;
}

.navigation .nav-links .nav-next a p:before {
	content:"\e5e1";
	right: 0;
}

.entry-content {
	max-width: 80%;
}
aside#side-nav {
	width: 20%;
}
