#content {
	padding-top: 55px;
}

#main {
	padding-top: 0;
}

.singular .entry-header {
	border-bottom: none;
}

figure.post-thumbnail img {
	width:100% !important;
	height:auto !important;
	object-fit: cover;
	max-height:600px;
}

body.single-post figure.post-thumbnail figcaption {
	display: none;
}

figure.post-thumbnail figcaption {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-color: var(--color-dlw-overlay);
	padding-top: 38px;
	padding-bottom: 45px;
}
figure.post-thumbnail figcaption p {
	color: var(--color-dlw-text-white);
	font-size: 1rem;
	line-height: 120%;
	max-width: var(--width-max-width);
	margin-left: auto;
	margin-right: auto;
}

main#main div.entry-content {
	margin-top: 0px;
}

#main .post-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"date author";
	margin-bottom:4rem;
}

.post-info span:first-child {
	grid-area: date;
}

.post-info span:nth-child(even) {
	grid-area: author;
}

body.single-post #page {
	background-color: white;
}

body header {
	position:relative;
	display:block;
}

body.single .entry-header .header-wrap {
	position:absolute;
	display:block;
	bottom:0px;
	left:0;
	padding:16px;
	width:100%;
	margin:0;
	background:#A3195BCC;
}

body .entry-header .header-wrap h1 {
	width:100%;
	max-width:var(--width-default-max-width);
	margin:0 auto;
	font-size:1.8em;
	color: var(--color-dlw-text-white);
}

.entry-header h1.entry-title,
h1.page-title {
	font-size: 3.8rem;
	max-width: var(--responsive--aligndefault-width);
	width: calc(100% - 6rem);
	margin: 30px auto;
}

.search,
.tag {
	background-color: var(--color-text-white);
}

.search h2.entry-title,
.tag h2.entry-title {
	font-size: 2rem;
}

.search .entry-header,
.tag .entry-header {
	max-width: var(--responsive--aligndefault-width);
}

.entry-header .post-thumbnail {
	margin-top:0;
}

.singular .has-post-thumbnail .entry-header {
	padding-bottom:0;
}

main#main div.entry-content > .wp-block-query {
	max-width: 1444px;
	width: calc(100% - 2rem);
}

main#main div.wp-block-query > ul.is-flex-container {
	justify-content: center;
	gap: 10px 71px;
}

main#main div.wp-block-query > ul.is-flex-container li {
	margin: 0;
}

.post-info span:nth-child(even){
	text-align:right;
	color: #A3195B;
}

.post-info span:nth-child(even) a {
	color: #A3195B;
	text-decoration:none;
}

.entry-center > * {
	margin-bottom:1.5rem;
}

#main .wp-block-query ul > li {
	width: 435px;
}