#content {
	padding-top: 55px;
}

#main {
	padding-top: 0;
}

.singular .entry-header {
	border-bottom: none;
}

figure.post-thumbnail img {
	width:100%;
	height:auto;
	object-fit: cover;
	max-height:300px;
}
body.singular figure.post-thumbnail img {
	min-height:500px;
	max-height:800px;
	max-width:none !important;
}

body.single-post figure.post-thumbnail figcaption {
	display: none;
}


.entry-header .header-overlay {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-color: var(--color-dlw-overlay);
	padding-top: 38px;
	padding-bottom: 45px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 16px;
}

.entry-header figure.post-thumbnail .header-overlay p {
	color: var(--color-dlw-text-white);
	font-size: 1.26rem;
	line-height: 130%;
	max-width: var(--width-max-width);
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.entry-header figure.post-thumbnail .header-overlay p a {
	color: var(--color-dlw-text-white);
	font-size: 1.26rem;
	line-height: 130%;
	display: inline;
}

main#main div.entry-content {
	margin-top: 0px;
}

#main .post-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"date author";
	margin-bottom:4rem;
}

.post-info span:first-child {
	grid-area: date;
}

.post-info span:nth-child(even) {
	grid-area: author;
}

body.single-post #page {
	background-color: white;
}

body header {
	position:relative;
	display:block;
}

body.single .entry-header .header-wrap {
	position:absolute;
	display:block;
	bottom:0px;
	left:0;
	padding:16px;
	width:100%;
	margin:0;
	background:var(--color-dlw-red-overlay);
}

body .entry-header .header-wrap h1 {
	width:100%;
	max-width:var(--width-default-max-width);
	margin:0 auto;
	font-size:1.8em;
	color: var(--color-dlw-text-white);
}

.entry-header h1.entry-title,
h1.page-title {
	max-width: var(--responsive--aligndefault-width);
	width: calc(100% - 6rem);
	margin: 32px auto;
}

.tag .page-header {
	border-bottom: 2px solid black;
	margin-bottom: 0;
	padding-bottom: 0;
}

.entry-title {
	color:var(--color-dlw-red);
}

.entry-title a {
	text-decoration:none;
	font-family:var(--font-header);
}

body {
	background-color: var(--color-text-white);
}

body.modal-active {
    position: fixed;
    overflow-y: scroll;
    transition: top 300ms;
}

body .entry-header {
	max-width: var(--responsive--aligndefault-width);
}

body .entry-header .post-thumbnail {
	margin-top:0;
}

.singular .has-post-thumbnail .entry-header {
	padding-bottom:1rem;
}

main#main div.entry-content > .wp-block-query {
	max-width: var(--responsive--alignwide-width);
	width: calc(100% - 2rem);
	max-height: 985px;
	transition: max-height 2s ease-in-out;
}

main#main div.entry-content > .wp-block-query.open {
	max-height: 999985px;
}

main#main div.wp-block-query > ul.is-flex-container {
	justify-content: center;
	gap: 4rem 48px;
}

main#main div.wp-block-query > ul.is-flex-container li {
	margin: 0;
}

.post-info span:nth-child(even){
	text-align:right;
	color: var(--color-dlw-red);
}

.post-info span:nth-child(even) a {
	text-decoration:none;
	color: var(--color-dlw-red);
}

.entry-center > * {
	margin-bottom:1.5rem;
}

#main .wp-block-query ul > li {
	width: 360px;
}

.entry-content section {
	content: '';
    display: block;
    position: relative;
    clear: both;
}

#main button.show-more {
	display: block;
	border: 0px solid white;
	background-color: transparent;
	font-family: var(--font-header);
	color: var(--color-dlw-red);
	margin: 1rem auto;
	position: relative;
}

#main button.show-more::after {
	position: absolute;
	content: "\e903";
	font-family: icomoon;
	font-size: 1.5rem;
	bottom: -10px;
	left: 45%;
	transition: bottom 0.3s ease-in-out;
}

#main button.show-more:hover:after {
	bottom: -15px;
}

#main button.show-more.hide {
	display: none;
}

#main article .wp-block-lazyblock-aufklappkasten {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

figure.wp-block-video {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.wp-block-lazyblock-aufklappkasten  p {
	line-height: 1.7rem;
}

#main .entry-content > h3 {
	color: var(--color-dlw-red);
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 16px;
	max-width: var(--responsive--alignwide-width);
	width: calc(100% - 2rem);
}


@media (max-width: 1000px){
	body.singular figure.post-thumbnail img {
		min-height:500px;
		max-height:800px;
	}
}


@media (max-width: 700px){
	main#main div.wp-block-query > ul.is-flex-container,
	main#main div.wp-block-query {
		display:block;
	}

	main#main div.wp-block-query.more {
		display:none;
	}

	main#main div.wp-block-query > ul.is-flex-container li {
		margin:0 auto 3rem;
	}

	#main .wp-block-query ul > li {
		width: 100%;
		max-width:400px;
	}
	.entry-header .header-overlay {
		position:relative;
		padding-top: 12px;
		padding-bottom: 16px;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 0px;
		margin-top: -300px;
	}
	.entry-header figure.post-thumbnail .header-overlay p,
	.entry-header figure.post-thumbnail .header-overlay p a {
		font-size: 1rem;
		line-height: 120%;
	}
}