:root {
	--color-dlw-main: #257DA7;
	--color-dlw-red: #A3195B;
	--color-dlw-red-overlay: #A3195BCC;
	--color-dlw-overlay: #1E3E51EE;
	--color-dlw-grey: #F3F3F3;
	--color-dlw-text-white: #F8EDF2;
	--color-dlw-text-black: #121313;
	--text-color: #333;

	--width-max-width: 1095px;
	--width-default-max-width: var(--responsive--aligndefault-width);

	--font-text: 'Lato', sans-serif;
	--font-header: 'Jura', sans-serif;
	--background-color-modal: rgba(255, 255, 255, 1);
	--background-color: #fff;
	--content-padding: 89px;
	--content-width: 950px;
	--content-padding: 64px;
	--content-padding-half: 32px;
	--content-padding-quarter: 16px;
	--content-padding-eight: 8px;

	--entry-header--font-size: 2rem;
	--global--font-size-page-title: 3rem;
	--heading--font-size-h1: 3rem;
	--heading--font-size-h2: 2.4rem;
	--heading--font-size-h3: 1.8rem;

	--headerbar-color: #257DA7;
	--headerbar-background:#F8EDF2;

	--box-magenta: rgb(163, 25, 91);
	--box-blue: #22526C;
}
html {
	background-color: white;
}

.site-title,
h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-header);
}

body, p, a, span, input {
	font-family: var(--font-text);
}

body {
	width: 100%;
}

@media (max-width: 700px){
	:root {
		--entry-header--font-size: 1.6rem;
		--global--font-size-page-title: 2.2rem;
		--heading--font-size-h1: 2.2rem;
		--heading--font-size-h2: 1.6rem;
		--heading--font-size-h3: 1.3rem;
	}
}

@media (max-width: 700px){
	:root {
		--global--font-size-page-title: 2rem;
		--heading--font-size-h1: 2rem;
	}
}