
#masthead {
	overflow:hidden;
	position: fixed;
	left: 0;
	top: 0;
	height: 56px;
	width: 100%;
	color: var(--headerbar-color);
	background: var(--headerbar-background);
	border-bottom: solid 2px var(--color-dlw-main);
	z-index: 2600;
	display: block;
}

#wpadminbar ~ #page #masthead,
#wpadminbar ~ #page aside#navigation {
	top: 32px;
}

@media (max-width: 800px) { 
	#wpadminbar ~ #page #masthead,
	#wpadminbar ~ #page aside#navigation {
		top: 46px;
	}
}

#button-navigation {
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 32px;
	text-align:center;
	vertical-align:middle;
	appearance:none;
	border:none;
	background:none;
	cursor:pointer;
	color: inherit;
	font-family:icomoon, sans-serif;
	font-size:1.3em;
	text-decoration: none;
	padding: 0 0 0 15px;
}

#button-navigation:before {
	content: "\e904";
	font-size:1.3em;
	font-family:'icomoon';
	color: var(--color-dlw-main);
	line-height: 55px;
}

#button-navigation:focus {
	outline: none;
}

aside#navigation {
	position:fixed;
	left:0;
	top:0;
	width:50%;
	height:100%;
	background:var(--background-color-modal);
	color:var(--text-color);
	transform:translateX(-100%);
	transition:transform 300ms;
	z-index:2001;
	display:block !important; /* To override the inline style */
}

#wpadminbar ~ #page aside#navigation {
	height: calc(100% - 32px);
}

@media only screen and (max-width: 1200px) {
	aside#navigation {
		width:100%;
	}
}

aside#navigation.active {
	transform:translateX(0);
}

aside#navigation > nav {
	padding:var(--content-padding) 0px;
	height:100%;
}

aside#navigation > nav > ul {
	height:100%;
	overflow-y:scroll;
}

#button-idrh {
	display: block;
	position: absolute;
	right: 15px;
	top: 10px;
	width: 84px;
	height: 32px;
	text-align:center;
	vertical-align:middle;
	appearance:none;
	border:none;
	background:none;
	cursor:pointer;
	color: inherit;
	font-size:1.3em;
	text-decoration: none;
	padding: 0 15px 0 0;
	background-image: url("../../images/idrh_logo.png");
	background-size: cover;
}

@media only screen and (max-width: 800px) {
	aside#navigation > nav > ul {
		height: calc(100% - 40px);
	}
}

@media only screen and (max-width: 650px) {
	aside#navigation > nav > ul {
		height: calc(100% - 64px);
	}
}

@media only screen and (max-width: 500px) {
	aside#navigation > nav > ul {
		height: calc(100% - 108px);
	}
}

nav li {
	position:relative;
}

nav.primary-navigation > div > .menu-wrapper {
	display: block;
	justify-content: none;
	flex-wrap: none;
	overflow-y: scroll;
	height: calc(100vh - 150px);
}

#navigation nav li.menu-item a {
	display:block;
	width:100%;
	padding:calc(var(--content-padding-half)) var(--content-padding);
	color:var(--text-color);
	text-decoration:none;
	font-family: var(--font-header);
	font-size:1.3em;
	padding-left:calc(var(--content-padding) * 1.5);
	font-weight: normal;
}

#navigation nav li.menu-item a:focus {
	outline: 0 solid transparent;
	background: transparent;
}

nav li a p {
	line-height: 1.2em;
}

nav > ul > li > a {
	font-weight: bold;
}

nav li li a { padding-left:calc(var(--content-padding) * 2); }
nav li li li a { padding-left:calc(var(--content-padding) * 3); }

nav > ul > li > ul > li > ul > li > a {
	font-weight: lighter;
	font-size: 1.2em;
}

nav li a:hover {
	background-color: transparent;
}

nav li.active > a {
	background-color:rgba(var(--highlight-color), 0.1);
	color:rgba(var(--highlight-color), 1);
}

nav ul li ul li:last-child {
	margin-bottom: 16px;
}

nav nav-toggle {
	content:'';
	display:block;
	font-size:2em;
	font-family: icomoon, sans-serif;
	position:absolute;
	left:2vw;
	top:0.75em;
	width: 32px;
	height: 32px;
	background-image: url("../../images/arrow-right.svg");
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: 100%;
	text-align:center;
	cursor:pointer;
	color:rgb(var(--highlight-color));
	transform:rotate(0deg);
	transition:transform 300ms;
	transform-origin: 50% 50%;
}

nav ul li ul li nav-toggle {
	top: 0.65em;
}

nav li.active > nav-toggle {
	color:rgba(var(--highlight-color), 1);
	border-left-color:rgba(var(--highlight-color), 1);
}

nav nav-toggle.active {
	transform:rotate(90deg);
}

nav ul.hidden {
	display:none;
}

nav-close-button {
	position:absolute;
	left:50%;
	transform: translate(-50%, 0%);
	bottom:0;
	width:50px;
	height:50px;
	text-align:center;
	cursor:pointer;
	font-size:2em;
	background-image: url("../../images/close.svg");
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: contain;
}

@media only screen and (max-width: 800px) {
	nav-close-button {
		bottom:1em;
	}
}

@media only screen and (max-width: 800px) {
	nav-close-button {
		bottom:46px;
	}
}

#main form[role="search"] {
	max-width: 420px;
	height: 68px;
	margin:76px auto 122px auto;
	padding:1rem 0;
	position: relative;
}

@media (max-width: 550px){
	form[role="search"] {
		width: calc(100% - 2rem);
	}
}

html body #main form[role="search"] input[type="search"] {
	display:block;
	margin: 0;
	border: 3px solid var(--color-dlw-red);
	box-sizing:border-box;
	padding-right:86px;
	width:100%;
	height:68px;
}

html body #main form[role="search"] > div {
	position:relative;
}

html body #main form[role="search"] [type="submit"] {
	display: block;
	margin: 0;
	background:url("../../images/button-search.png") no-repeat var(--color-dlw-red);
	background-size:contain;
	color: var(--color-dlw-text-white);
	font-family: var(--font-header);
	font-size: 1.2rem;
	width: 86px;
	height: 68px;
	z-index: 2;
	outline: none;
	border: none !important;
	position:absolute;
	right:0;
	color:transparent;
}

.search-wrap {
	position: relative;
	margin: 0;
	padding: 0;
}

.post-navigation .nav-links a p {
	position: relative;
	color: var(--color-dlw-red);
	font-size: 1.57rem;
}

.post-navigation .nav-links a p:before {
	position: absolute;
	font-family: 'icomoon';
	color: var(--color-dlw-red);
	font-size: 2rem;
	line-height: 2.7rem;
}

.post-navigation .nav-links .nav-previous a p {
	padding-left: 30px;
}
.post-navigation .nav-links .nav-next a p {
	padding-right: 30px;
}

@media (max-width: 600px){
	.post-navigation .nav-links a p {
		font-size:1px;
		color:transparent;
	}
}

.post-navigation .nav-links .nav-previous a p:before {
	content:"\e902";
	left: 0;
}

.post-navigation .nav-links .nav-next a p:before {
	content:"\e901";
	right: 0;
}


#site-navigation .menu-item-object-custom {
	padding-bottom: 1px;
}

#site-navigation .menu-item-type-taxonomy,
#site-navigation .menu-item-object-post {
	border-top: 1px solid var(--color-dlw-main);
}

#site-navigation .menu-item-type-taxonomy ul li,
#site-navigation .menu-item-object-post ul li {
	border-top: none;
}

#site-navigation .menu-item-type-taxonomy + .menu-item-type-taxonomy,
#site-navigation .menu-item-object-post + .menu-item-object-post {
	border-top:none;
	position: relative;
}

.primary-navigation[role="navigation"] .primary-menu-container > ul > .menu-item {
	display: block;
}

.primary-navigation[role="navigation"] .primary-menu-container > ul ul {
	padding-left: 0;
}

.entry-content {
	width: 100%;
}
aside#side-nav {
	width: 20%;
}

.wp-block-post-featured-image {
	position: relative;
	width: 100%;
	height:auto;
	overflow:hidden;
	max-height:202px;
	margin-bottom: 0;
}


.wp-block-post-featured-image img {
	object-fit: cover;
	width:100% !important;
	height:100% !important;
	display:block;
	position:relative;
}

.post-thumbnail {
	overflow: hidden;
}

.wp-block-post-featured-image a::after {
	content: '';
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background: url('../../images/blog-hover.svg') no-repeat;
	background-size: cover;
	background-position:100% center;
	transition: all 0.3s ease-in-out;
	transform: translateX(-89%);
	z-index:1;
}

.wp-block-post-featured-image a:hover::after {
	content:'';
	transform: translateX(-0%);
}

@media (max-width: 800px) {
	.post-thumbnail a::after {
		display:none !important;
	}
}


.post-thumbnail a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.wp-block-post-title {
	padding: 0.25rem 0.5rem;
	margin: 11px 0 11px 0;
}

.wp-block-post-title a {
	display: block;
	margin: 0 0 0 0;
	font-family: var(--font-header);
	font-weight: bold;
	font-size: 1.37rem;
	line-height: 1.6rem;
	min-height: 1.35rem;
	color: var(--color-dlw-red);
	overflow: hidden;
	text-decoration: none;
	height: 3.2rem;
}

.wp-block-post-excerpt {
	margin: 0 0 0 0;
	grid-area: text;
	color: var(--color-dlw-text-black);
	padding: 0px 11px;
}
.wp-block-post-excerpt p {
	height: 96px;
	line-height: 24px;
	overflow: hidden;
	font-family: var(--font-text);
}

.widget h2 {
	color: #257DA7;
	font-family: var(--font-header);
	font-size: 1.8rem;
	margin-bottom: 10px;
}

.wp-block-tag-cloud .tag-cloud-link {
	font-size: 1.42rem!important;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.widget-area.sidebar nav[role="navigation"] {
	margin-top: 10px;
}

#side-nav > aside > .widget_block ~ .widget_tag_cloud {
	margin-top: -20px;
}

.tag-link-count {
	font-size: 1.2rem!important;
}

page-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	transition: opacity 300ms;
	z-index: -1;
	cursor: pointer;
}

page-overlay[open] {
	opacity: 0.3;
}
page-overlay.active {
	z-index: 2000;
}

.overlay-blur {
	-webkit-animation-name: overlay-blur-out;
	animation-name: overlay-blur-out;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	filter: blur(3px);
}

nav-close-button {
	background: url('../../images/close.svg') no-repeat;
	background-color: rgba(0, 0, 0, 0);
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-image: url("../../images/close.svg");
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-size: cover;
}

.primary-navigation > .primary-menu-container {
	width:100%;
	box-sizing:border-box;
	margin:0;
}

@media (max-width: 800px) {
	.menu-button-container {
		display: none;
	}
	.primary-navigation > .primary-menu-container {
		visibility: visible;
		opacity: 1;
		background-color: white;
		height: 100%;
	}
	.admin-bar .primary-navigation > .primary-menu-container {
		height: calc(100% - 100px);
	}
	.menu-wrapper.hidden {
		visibility: visible;
	}
	#navigation nav li.menu-item a {
		padding: 10px 10px;
	}

	nav.primary-navigation > div > .menu-wrapper {
		overflow-y: scroll;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	nav-close-button {
		z-index: 2002;
		bottom: 8px;
	}
}