body.single-post header {
    position:relative;
    display:block;
}

body.single-post .entry-header .header-wrap {
    position:absolute;
    display:block;
    bottom:0px;
    left:0;
    padding:16px;
    width:100%;
    margin:0;
    background:#A3195BCC;
}

body.single-post .entry-header .header-wrap h1 {
    width:100%;
    max-width:930px;
    margin:0 auto;
    font-size:1.8em;
    color: var(--color-dlw-text-white);
}

.entry-header .post-thumbnail {
    margin-top:0;
}

.singular .has-post-thumbnail .entry-header {
    padding-bottom:0;
}