:root {
	--color-dlw-main: #257DA7;
	--color-dlw-red: #A3195B;
	--color-dlw-overlay: #1E3E51CC;
	--color-dlw-grey: #F3F3F3;
	--color-dlw-text-white: #F8EDF2;
	--color-dlw-text-black: #121313;

	--width-max-width: 1095px;

	--font-text: 'Lato', sans-serif;
	--font-header: 'Jura', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-header);
}

p, a, span, input {
	font-family: var(--font-text);
}

#page {
	background-color: var(--color-dlw-grey);
}

#masthead {
	padding-top: 0;
	padding-bottom: 0;
	display: block;
	align-items: none;
	flex-wrap: none;
	row-gap: none;
	background-color: white;
	max-width: 100%;
}

.site-branding {
	max-width: var(--responsive--alignwide-width);
	margin-left: auto;
	margin-right: auto;
	height: 85px;
	padding-top: 22px;
}

.site-branding h1 {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

.site-branding:last-child {
	margin-right: auto;
	
}

.site-title {
	color: var(--color-dlw-main);
}

.site-title a {
	font-size: 29px;
	text-decoration: none;
}

.site-title a:hover {
	color: var(--color-dlw-main);
}

header.entry-header {
	max-width: none;
}

.entry-header .post-thumbnail {
	width: 100%;
	max-width: none;
	max-height: 650px;
}

.entry-header .post-thumbnail .wp-post-image {
	margin-top: 0;
}


